.book-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  h1 {
    color: $light-grey;
  }
  // background-color: black;
    // background: radial-gradient(circle, rgba(32, 11, 123, 1) 21%, rgba(196, 56, 153, 1) 31%, rgba(122, 34, 210, 1) 38%, rgba(117, 33, 202, 1) 43%, rgba(0, 0, 0, 1) 89%);
    // background-size: 550% 350%;
    // animation: gradient 25s ease infinite;
    background-color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
    // transform: rotate(0deg);
  }

  50% {
    background-position: 50% 25%;
    // transform: rotate(180deg);
  }

  100% {
    background-position: 0% 25%;
    // transform: rotate(0deg);
  }
}

.simplybook-container {
  width: 90%;
  border-radius: 16px;
  // border: 2px solid yellow;
  overflow: hidden;
  // background-color: red;
}

.book-error-message {
  font-size: 14px;
  font-family: 'Montserrat';
  color: $light-grey;
  a {
    font-family: 'Inknut Antiqua', serif;
    color: $light-grey;
    text-decoration: none;
  }
}



@media only screen and (max-width: $phone) {

  .simplybook-container {
    width: 100%;
  }

  .book-error-message {
    margin: 20px ;
  }
}
