.location-container {
  display: flex;
  justify-content: center;
}

.location {
  // background-color: rgba(16, 18, 27, 0.4);
  background-color: rgba(45, 46, 50, 0.4);
  backdrop-filter: blur(10px);
  text-align: center;
  width: 40%;
  // height: 50vh;
  padding: 20px;
  border-radius: 16px;
  box-shadow:
    0px 0px 5px white,
    // inset 0px 0px 40px $light-green,
    0px 0px 20px #D97BDC;
  margin-right: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}


.contact-map {
  width: 40%;
  height: auto;
}


.contact-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(80px);
  box-shadow: inset 0 10px 20px black;
  padding-bottom: 48px;
  h1 {
      color: $light-grey;
      font-size: 40px;
      font-family: 'Inknut Antiqua', serif;
    }
  h2 {
      color: $light-grey;
      font-size: 32px;
      font-family: 'Inknut Antiqua', serif;
    }

    p {
      color: $light-grey;
      font-size: 24px;
      font-family: 'Montserrat';
    }
}

.contact-form {
  width: 60%;
}


@media only screen and (max-width: $phone) {
  .contact-filter {
    h1, h2 {
        font-size: 24px;
      }
  }

  .location-container {
    flex-direction: column;
    align-items: center;

  }

  .location {
    margin-right: 0px;
    width: 80%;
    h2 {
      font-size: 24px;
    }

    p {
      font-size: 20px;
    }
  }

  .contact-map {
    width: 90%;
    margin-top: 24px;
  }

  .contact-form {
    width: 90%;
  }
}
