<div class="footer-container">
  <div class="footer-half footer-left">
    <h4>Follow on:</h4>
    <p><a href="https://www.instagram.com/the7tstudios/" target="_blank">Instagram</a></p>
    <p><a href="https://www.facebook.com/profile.php?id=100089374706339" target="_blank">Facebook</a></p>
    <p><a href="https://twitter.com/7tstudios" target="_blank">Twitter</a></p>

  </div>

  <div class="footer-half footer-right">
    <h4>7 T Studios</h4>
    <p>2 - 6 FOWLER ROAD, ILFORD <br>ESSEX <br>IG6 3UT</p>
  </div>
</div>
