<div class="footer-container">
  <div class="footer-half footer-left">
    <h4>Follow on:</h4>
    <p>Instagram</p>
    <p>Facebook</p>
    <p>Twitter</p>

  </div>

  <div class="footer-half footer-right">
    <h4>7 T Studios</h4>
    <p>2 - 6 FOWLER ROAD, ILFORD <br>ESSEX <br>IG6 3UT</p>
  </div>
</div>
