

<div class="main-container">
  <div class="about-banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(https://i.ibb.co/WypkJ1n/Studio3-05.png);">
    <div class="about-banner-container">
      <h1>ABOUT US</h1>
      <p>Here at 7 Trillion Studios we aim to deliver high end production and vocal recording studios, cinema rooms, night clubs, podcast and media rooms. We also specialise in led lights and fabric walls.</p>
      <a class="about-btn" href="#">Book a Studio</a>
    </div>
  </div>

  <div class="about-body">
    <div class="options">
      <div class="option active">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/LNByY64/Live-Room1-04.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/Z1D6vQ0/Studio1-01-1.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/HtY0rvG/Studio4-02.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/xj08yC8/Studio4-05-1.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/K259Zg3/Studio1-03-1.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/WypkJ1n/Studio3-05.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/qxSFTYn/Studio5-03-1.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/XSjrY5b/Studio1-02-1.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/tLQ74Q4/Studio4-01.png", class="about-photo">
      </div>

      <div class="option">
          <div class="shadow"></div>
          <img src="https://i.ibb.co/xj08yC8/Studio4-05-1.png", class="about-photo">
      </div>
    </div>
  </div>

  <div class="about-services">
    <div class="about-row">
      <h2>SERVICES</h2>
    </div>

    <div class="about-row">
      <div class="about-column">
        <h4>Pro Recording Session</h4>
        <p><em>Vocals & Instrumental</em></p>
        <p>Record High End Vocals with our Slate Microphone and Raven Core Music Making Station. Our aim is to deliver clarity, clear takes and an overall bright and well-engineered songs.</p>
      </div>
      <div class="about-column">
        <h4>Mixing & Mastering</h4>
        <p><em>Specialised Mix & Mastering</em></p>
        <p>Sounding Right is just as important to us as it is to you. Here, at 7 trillion studios, we take pride in our equipment and our engineers who will deliver the right mix for you.</p>
      </div>
    </div>

    <div class="about-row">
      <div class="about-column">
        <h4>Music Production</h4>
        <p><em>Instrumental Creation</em></p>
        <p>Specially Tailored Instrumentals to help deliver your song and your sound, from Logic, Studio One and Ableton Live to Pro Tools.</p>
      </div>
      <div class="about-column">
        <h4>Songwriting</h4>
        <p><em>Writing & Melodies</em></p>
        <p>Our talented team is here to help with songwriting and song arrangement.</p>
      </div>
    </div>

    <div class="about-row">
      <div class="about-column">
        <h4>5 Day EP Package</h4>
        <p><em>EP Package</em></p>
        <p>The 5 day EP package is for Musicians, who have all the lyrics and want to organise it into an EP format with instrumentals. You get 5days to record, mix and finish your EP for a tidy sum. </p>
      </div>
      <div class="about-column">
        <h4>Birthday/Anniversary Package </h4>
        <p><em>B-Day Recording Package</em></p>
        <p>If you would like to surprise your family member or a friend with an extraordinary gift, why not book a 4 hour recording session with house light mix and bounce for them.</p>
      </div>
    </div>

    <div class="about-row">
      <div class="about-column">
        <h4>Exclusive Artist Development</h4>
        <%# <p><em>This service will be available from December 2021.</em></p> %>
        <p>Being a successful artist is not an easy task, however, we can show you the way! Here, at 7trillion, we have an access to consultant labels and PR company to help you reach your target audience.</p>
      </div>
      <div class="about-column">
        <h4>Independent / Dry Hire</h4>
        <p><em>Hiring Without An Engineer</em></p>
        <p>You can hire the studio without an engineer. We can also offer our space for video shoots.</p>
      </div>
    </div>


    <div class="about-row">
      <h2>GEAR</h2>
    </div>

    <div class="about-row">
      <div class="about-column">
        <h4>Plugins / Software</h4>
        <ul>
          <li>Air music technology - Expand!2</li>
          <li>Kilohearts - Bundle</li>
          <li>Akai Professional MPC</li>
          <li>Ample Sound - Ample Guitar SJ</li>
          <li>Angelic Voices - Thump</li>
          <li>Antares Auto-Tune</li>
          <li>Apusoft - apShaperAudio FX and Midi Instruments</li>
          <li>Arturia - Analog lab, ARP 2600 V3, B3 V2, Burchla Easel V</li>
          <li>Audiomodern - Chordjam</li>
          <li>Baby Audio - Comeback kid, I Heart NY, ParallelAgression, Smooth p[aretor, Space out, Super VHS</li>
          <li>Cableguys, Halftime, Shaper Box2</li>
          <li>Celomoy - Melodyne</li>
          <li>Cynamitics - Cynamitics Space</li>
          <li>Cytomics - The Drop</li>
          <li>Digikitz - Linked Vibes</li>
          <li>Elite Plugins - Elite Pianist</li>
          <li>Fabfilter - Bundle</li>
          <li>FutureAudioWorkshop - SubLab</li>
          <li>Hexachord - Bundle</li>
          <li>HoRNet - LUMterMK2, SongKeyMK3, UVMeterMK4</li>
          <li>IK Multimedia - Bundle, Amplitube 4, 5, Sample Tank 4, Syntronik</li>
          <li>Image-line - FLstudio</li>
          <li>Initial Audio - Head Up 3 Initial Studio 808 ii, Initial AR1 Reverb, Initial Boost X, Dynamic Delay, IA-LA1 Compressor, Master Suite, Slice, Sektor Synth</li>
          <li>Izotope - Ozone 9 Bundle</li>
          <li>ADSR Sample manager</li>
          <li>Klanghelm - DC8C3, SDRR2</li>
          <li>Korg - Triton Extreme</li>
          <li>Kyle Beats Inc - Drip</li>
          <li>Meter Plugins - Loudness Penalty</li>
          <li>Mixed In Key - Satellite Audio, Midi, Sessions.</li>
          <li>Native Instruments - Komplete Kontrol, Kontakt, Machine 2, MFX, Massive X.</li>
          <li>Oeksound - Soothe2</li>
          <li>Output - Arcade, Portal</li>
          <li>Plugin Alliance - All Bundles.</li>
          <li>Plugin Boutique - Scaler 2, Scaler Audio 2, Scaler Control 2</li>
          <li>PreSonus - Ampere, Fat Channel, Pedalboard RC500, vt1, vVU Meter.</li>
          <li>reFX - Nexus</li>
          <li>Serato - Serato Sampler</li>
          <li>Softube - Chandler Limited Curve Bender, Transient.</li>
          <li>Sonarworks - Sonarworks Reference 4.</li>
          <li>Sonic Academy - ANA 2</li>
          <li>Soundtoys - Decapitator</li>
          <li>Spectrasonics - Omnisphere.</li>
          <li>Studio Links - Trap plucks</li>
          <li>Sugar Bytes - Looperator</li>
          <li>Tone2 - ElectraX</li>
          <li>Toontracks - EXkeys</li>
          <li>Trackbout - Ripchord</li>
          <li>UJAM - BM-Dope, BM-HUSTLE, FIN-FLUXX</li>
          <li>Universal Audio - All bundles</li>
          <li>Valhalla DSP, LLC - ValhallaVintageVerb</li>
          <li>Voxengo - Bundle</li>
          <li>Waves - All Bundles</li>
          <li>Xfer Records - Serum, SerumFX</li>
          <li>Youlean Loudness Meter 2</li>



        </ul>
      </div>
      <div class="about-column-right">
        <div class="about-column-right-small">
          <h4>Digital Audio Workstations</h4>
          <ul>
            <li>Logic Pro X</li>
            <li>Ableton Live 11</li>
            <li>FL Studio 20</li>
            <li>Maschine 2</li>
            <li>Studio One</li>
            <li>Audacity</li>
            <li>Akai Mpc Live 2</li>
          </ul>
        </div>

        <div class="about-column-right-small">
          <h4>Preamps / Speakers</h4>
          <ul>
            <li>AMS Neve 1073SPX</li>
            <li>Barefoot Sound FootPrint01</li>
            <li>ADAM A7V Active Studio Monitors</li>
            <li>Dynaudio Core 47</li>
            <li>Adams</li>
            <li>Focal</li>
          </ul>
        </div>

        <div class="about-column-right-small">
          <h4>Computers / Soundcards</h4>
          <ul>
            <li>Apple Mac Pro 8 Core 3.5 Ghz 64GB RAM</li>
            <li>Slate Media Dual Core Station</li>
            <li>Universal Audio Apollo X8P Heritage Edition</li>
          </ul>
        </div>

        <div class="about-column-right-small">
          <h4>Compressors</h4>
          <ul>
            <li>Rupert Neve Designs 5254</li>
            <li>Tegeler Audio Creme Limited Black Edition</li>
          </ul>
        </div>

        <div class="about-column-right-small">
          <h4>MIDI keyboards / Synths</h4>
          <ul>
            <li>Komplete kontrol S25</li>
            <li>Komplete kontrol S61</li>
          </ul>
        </div>

        <div class="about-column-right-small">
          <h4>Guitars</h4>
          <ul>
            <li>Fender FSR American Professional II</li>
            <li>Gretsch Players Edition</li>
            <li>Gibson SG Standard Short Scale Bass Ebony</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
	const options = document.querySelectorAll('.option');

	options.forEach(element => {
		element.addEventListener('click', event => {
			options.forEach(el => el.classList.remove('active'));
			event.target.closest('.option').classList.add('active');
		})
	});
</script>
