<div class="book-bg">
  <div class="contact-filter">
    <h1>BOOK NOW</h1>
    <h6 class="book-error-message">If booking system doesn't load correctly, <a href="https://7ts.skedda.com/booking" target="_blank">click here!</a></h6>
    <div class="simplybook-container">
      <iframe src="https://7ts.skedda.com/booking?embedded=true" style="width:100%;height:800px;"></iframe>  </div>
    </div>
  </div>
</div>
