<div class="book-bg">
  <h1>BOOK NOW</h1>

  <div class="simplybook-container">
    <%# <script src="//widget.simplybook.it/v2/widget/widget.js"></script>
    <script>
      var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/7tstudios.simplybook.it","theme":"space","theme_settings":{"timeline_hide_unavailable":"1","sb_base_color":"#d42853","hide_past_days":"0","timeline_show_end_time":"0","timeline_modern_display":"as_slots","display_item_mode":"block","sb_review_image":"","dark_font_color":"#474747","light_font_color":"#ffffff","sb_company_label_color":"#ffffff","hide_img_mode":"0","show_sidebar":"1","sb_busy":"#dad2ce","sb_available":"#d3e0f1"},"timeline":"modern","datepicker":"top_calendar","is_rtl":false,"app_config":{"clear_session":0,"allow_switch_to_ada":0,"predefined":[]}});
    </script> %>

    <script src="//widget.simplybook.it/v2/widget/widget.js"></script>
    <script>var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/7tstudios.simplybook.it","theme":"space","theme_settings":{"timeline_hide_unavailable":"1","sb_base_color":"#7521ca","hide_past_days":"0","timeline_show_end_time":"0","timeline_modern_display":"as_slots","display_item_mode":"block","sb_review_image":"","dark_font_color":"#1f1f1f","light_font_color":"#ffffff","sb_company_label_color":"#ffffff","hide_img_mode":"0","show_sidebar":"1","sb_busy":"#dad2ce","sb_available":"#d3e0f1"},"timeline":"modern","datepicker":"top_calendar","is_rtl":false,"app_config":{"clear_session":0,"allow_switch_to_ada":0,"predefined":[]}});</script>
  </div>
</div>
