<div class="book-bg">
  <div class="contact-filter">
    <h1>CONTACT US</h1>
    <div class="location-container">
      <div class="location">
        <h2>Where we are</h2>
        <p>2 - 6 FOWLER ROAD, ILFORD <br>ESSEX <br>IG6 3UT</p>
      </div>
    <%# <img src="https://i.ibb.co/DMn1pkf/Screenshot-2023-01-20-at-12-42-18.png", class="contact-map"> %>

<iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/owenbaldwin/cld1nt6vg001k01lr4wk5y0h9.html?title=false&access_token=pk.eyJ1Ijoib3dlbmJhbGR3aW4iLCJhIjoiY2t2Y2V0emF0M3JpODMxbHBkYjg4NWJ3NSJ9.wlR8Ojvuir2NOsTpebAlTQ&zoomwheel=false#17.85/51.607031/0.120236" title="Streets" style="border:none;"></iframe>
    </div>


    <h2>Get in touch</h2>
    <div class="contact-form">
      <div data-tf-widget="ipkWm2go" data-tf-opacity="100" data-tf-iframe-props="title=7TS" data-tf-transitive-search-params style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
    </div>
  </div>

</div>
