<div class="main-container">

  <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(https://i.ibb.co/Pt6XRS6/Studio2-05.png);"> %>
  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/NYsBSWG/IMG-5279.jpg);">
    <div class="home-banner-container">
      <div class="home-banner-titles">
        <h1>7TS</h1>
        <p>High end recording studios for London's finest musicians</p>
      </div>

      <%# <a class="big-btn" href="#">Book a Studio</a> %>
      <%= link_to "BOOK A STUDIO", book_path, class:"big-btn" %>
    </div>
  </div>

  <div class="home-bubble">
    <h2>7T Studios is designed to make your musical dreams a reality.</h2>
    <p>7T Studios is a High-End Recording studio, based in EAST London . We are just a 10 minutes walk from Hainault Underground station.
    We're fully compliant with Covid-19 Rules.</p>

  </div>

  <div class="homepage-item order-flip">
    <div class="homepage-half">
      <h2>Located in Hainault Business Park</h2>
      <p>We specialise in <strong>music production</strong> and we have a very passionate, friendly and <strong>highly experienced</strong> music production team who are here to meet any possible requirement.
        <br>
        We do believe we have managed to find the best engineering and production team with some really great experience in recording, production, mixing and mastering. We are ready to help you create some <strong>beautiful sounds</strong>.
      </p>
    </div>

    <div class="homepage-half right-push">
      <%# <div class="homepage-image-one" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/ZK1Snvg/fc6700bae84001930c096edbc3e6c466-xlarge.jpg);"> %>
      <div class="homepage-image-one" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/jktmjwY/9d8599a2c81c2e150f0ae0885f7c41e8-xxlarge.jpg);">

      </div>
    </div>
  </div>

  <div class="homepage-item">

  <div class="homepage-half">
      <div class="homepage-image-two" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/8zLHjP2/5-D1-ABF01-4-E44-4223-A4-C0-EF1-C69-DC47-CA-1-201-a.jpg);">
      </div>
    </div>
    <div class="homepage-half right-text-push">
      <h2>Let’s get started and produce some good music!</h2>
          <p>We will begin by listening to your music and discussing what you would like to achieve. Once we feel we are a good match, one of our professional producers will be assigned to work on your project.</p>
    </div>


  </div>



</div>
