<div class="main-container">

  <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(https://i.ibb.co/Pt6XRS6/Studio2-05.png);"> %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://i.ibb.co/QDk0dwL/6db8eb72b9713ddbefd9684346a72107-xxlarge.jpg);">
    <div class="banner-container">
      <h1>7TS</h1>
      <p>High end recording studios for London's finest musicians</p>
      <%# <a class="big-btn" href="#">Book a Studio</a> %>
      <%= link_to "BOOK A STUDIO", book_path, class:"big-btn" %>
    </div>
  </div>


  <div class="home-section">
    <%# <div class="home-section-half">

      <%# <div class="inlet-shadow">
      </div> %>
    <%# </div>  %>
    <%# <img src="https://i.ibb.co/JkHccv9/3afd79e026514b051d253a2614decd07-xxlarge.jpg", class="home-section-half-img"> %>

    <div class="home-section-half">
      <div class="home-blur">
        <div class="glass-panel">
          <h2>7T Studios is designed to make your musical dreams a reality.</h2>
          <p>7T Studios is a High-End Recording studio, based in EAST London . We are just a 10 minutes walk from Hainault Underground station.
          We're fully compliant with Covid-19 Rules.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%), url(https://i.ibb.co/9qpn7rN/9836dd5b7d689842be9dbe8da0fc695c-xlarge.jpg);">
    <div class="banner-container-mid">
      <h2>Located in Hainault Business Park</h2>
      <p>We specialise in music production and we have a very passionate, friendly and highly experienced music production team who are here to meet any possible requirement.
            <br>
            We do believe we have managed to find the best engineering and production team with some really great experience in recording, production, mixing and mastering. We are ready to help you create some beautiful sounds.
          </p>
    </div>
  </div>



  <div class="home-section-small">
    <img src="https://i.ibb.co/8zLHjP2/5-D1-ABF01-4-E44-4223-A4-C0-EF1-C69-DC47-CA-1-201-a.jpg", class="home-section-half-img">
    <div class="home-section-half-half">
      <div class="home-blur">
        <div class="glass-panel">
          <h2>Let’s get started and produce some good music!</h2>
          <p>We will begin by listening to your music and discussing what you would like to achieve. Once we feel we are a good match, one of our professional producers will be assigned to work on your project.</p>
        </div>
      </div>
    </div>
  </div>

  <%# <div class="home-section">
    <div class="container reveal fade-bottom">
      <h2>Caption</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Section Text</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
        <div class="text-box">
          <h3>Section Text</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
        <div class="text-box">
          <h3>Section Text</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
      </div>
    </div>
  </div> %>


</div>
