<div class="main-container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(https://i.ibb.co/Pt6XRS6/Studio2-05.png);">
    <div class="banner-container">
      <h1>7 Trillion Studios</h1>
      <p>High end recording studios for London's finest musicians</p>
      <a class="big-btn" href="#">Book a Studio</a>
    </div>
  </div>

  <div class="home-section">
    <%# <div class="home-section-half">

      <%# <div class="inlet-shadow">
      </div> %>
    <%# </div>  %>
      <img src="https://i.ibb.co/zhNshDs/Studio3-01-copy.png", class="home-section-half-img">

    <div class="home-section-half">
      <div class="glass-panel">
        <h2>7T Studios is designed to make your musical dreams a reality.</h2>
        <p>7T Studios is a High-End Recording studio, based in EAST London . We are just a 10 minutes walk from Hainault Underground station.
        We're fully compliant with Covid-19 Rules.</p>
      </div>
    </div>
  </div>

  <div class="home-section">
    <div class="container reveal fade-bottom">
      <h2>Caption</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Section Text</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
        <div class="text-box">
          <h3>Section Text</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
        <div class="text-box">
          <h3>Section Text</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
