<div class="book-bg">
  <div class="membership-container">
    <h1>Our Memberships</h1>
    <p>
      Members unlock full access to our range of studios, spaces and private events at 7TS Studios.
      <br>
      Join through our website for the full range of perks, exclusive discounts and more
    </p>
    <div class="membership-half">
      <div class="membership-card">
        <h3>Creative</h3>
        <p>120 credits</p>
        <p>*Up to 13 hours of studio time</p>
        <p>Unlimited access to lounge, discounts and members only events</p>
        <h4>£89.00</h4>
        <button data-tf-popup="pkKydSik" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=7T Booking" data-tf-transitive-search-params data-tf-medium="snippet"  class="big-btn">Apply now!</button>
      </div>

      <div class="membership-card">
        <h3>Solo</h3>
        <p>360 credits</p>
        <p>*Up to 36 hours of studio time</p>
        <p>Unlimited access to lounge, discounts and members only events</p>
        <p>Priority Booking 2 weeks in advance</p>
        <h4>£199.00</h4>
        <button data-tf-popup="pkKydSik" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=7T Booking" data-tf-transitive-search-params data-tf-medium="snippet"  class="big-btn">Apply now!</button>
      </div>
    </div>

    <div class="membership-half">
      <div class="membership-card">
        <h3>Professional</h3>
        <p>800 credits</p>
        <p>*Up to 80 hours of studio time</p>
        <p>Unlimited access to lounge, discounts and members only events</p>
        <p>Priority Booking 1 month in advance</p>
        <p>10% Discount on any additional hours </p>
        <h4>£399.00</h4>
        <button data-tf-popup="pkKydSik" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=7T Booking" data-tf-transitive-search-params data-tf-medium="snippet"  class="big-btn">Apply now!</button>
      </div>

      <div class="membership-card">
        <h3>Diamond</h3>
        <p>Exclusive Studio Access</p>
        <p>Unlimited Studio Time</p>
        <p>Unlimited access to lounge, discounts and members only events</p>
        <p>Priority Booking 1 month in advance</p>
        <p>Priority invitation to meter only events</p>
        <p>VIP only event access</p>
        <h4>£999.00</h4>
        <button data-tf-popup="pkKydSik" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=7T Booking" data-tf-transitive-search-params data-tf-medium="snippet"  class="big-btn">Apply now!</button>
      </div>
    </div>
  </div>
</div>
<script src="//embed.typeform.com/next/embed.js"></script>
