.home-banner {
  margin-top: 24px;
  width: 90%;
  height: 700px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  box-shadow: 10px 10px 20px black;
  transition: 0.5s;
}

.home-banner:hover {
  transform: scale(1.01);
}

.home-banner-container {
  // background-color: rgba(16, 18, 27, 0.4);
  background-color: rgba(45, 46, 50, 0.136);
  // backdrop-filter: blur(10px);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  height: 700px;
  // box-shadow:
  //     0px 0px 5px white,
  //     // inset 0px 0px 40px $light-green,
  //     0px 0px 20px #D97BDC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // margin-right: 92px;
}

.home-banner-titles {
  h1 {
    margin: 0;
    color: white;
    // text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 5px rgb(248, 248, 248);
    font-size: 56px;
    font-weight: bold;
    font-family: 'Inknut Antiqua', serif;
    margin-top: 24px;
  }

  p {
    margin-top: 32px;
    font-size: 28px;
    color: white;
    opacity: .7;
    // text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 10px rgb(248, 248, 248);
    font-family: 'Montserrat';
  }
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: inset 0 0 20px black;
  box-shadow: inset 0px 5px 20px black;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Inknut Antiqua', serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat';
}

.banner-container {
  // background-color: rgba(16, 18, 27, 0.4);
  background-color: rgba(45, 46, 50, 0.4);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  height: 200px;
  // box-shadow:
  //     0px 0px 5px white,
  //     // inset 0px 0px 40px $light-green,
  //     0px 0px 20px #D97BDC;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-right: 92px;
}

.banner-container-mid {
  width: 75%;
  // background-color: rgba(16, 18, 27, 0.4);
  background-color: rgba(45, 46, 50, 0.4);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  height: auto;
  // box-shadow:
  //     0px 0px 5px white,
  //     // inset 0px 0px 40px $light-green,
  //     0px 0px 20px #D97BDC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container-mid h2 {
  margin: 16px 0px;
  color: $light-grey;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  font-weight: bold;
  font-family: 'Inknut Antiqua', serif;
}

.banner-container-mid p {
  margin: 16px 0px;
  font-size: 20px;
  color: $light-grey;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat';
}


.about-banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40vh;
  box-shadow: inset 0px 5px 20px black;
}

.about-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Inknut Antiqua', serif;
}

.about-banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 32px;
  font-family: 'Montserrat';
}

.about-banner-container {
  // background-color: rgba(16, 18, 27, 0.4);
  background-color: rgba(45, 46, 50, 0.4);
  backdrop-filter: blur(10px);
  text-align: center;
  width: 40%;
  height: 50vh;
  padding: 20px;
  border-radius: 16px;
  // box-shadow:
  //   0px 0px 5px white,
  //   // inset 0px 0px 40px $light-green,
  //   0px 0px 20px #D97BDC;
  margin-right: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


@media only screen and (max-width: $phone) {
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: inset 0 0 20px black;
    // box-shadow: inset 0px 5px 20px black;
  }


  .banner-container {
    // background-color: rgba(16, 18, 27, 0.4);
    // background-color: rgba(45, 46, 50, 0.4);
    // backdrop-filter: blur(10px);
    // text-align: center;
    padding: 20px;
    border-radius: 0px;
    height: 320px;
    // box-shadow:
      // 0px 0px 5px white,
      // // inset 0px 0px 40px $light-green,
      // 0px 0px 20px #D97BDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .about-banner {
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .about-banner-container {
    width: 100%;
    height: 520px;
    padding: 20px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
      margin: 0;
    }
  }
}
