.big-btn {
  padding: 16px;
  border-radius: 6px;
  background-image: linear-gradient(135deg, $purple, $pink);
  color: $light-grey;
  text-decoration: none;
  transition: 0.5s;
}

.big-btn:hover {
  background-image: linear-gradient(315deg, $purple, $pink);
  color: white;
  transition: 0.5s;
}
