.footer-container {
  width: 100%;
  height: 250px;
  display: flex;
  background-color: $dark-grey;
  // box-shadow: 0 0 10px red;
  // z-index: 10;
  // padding: 24px;
}

.footer-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
  h4, li, p {
    color: $light-grey;
  }
  p {
    margin: 8px 0px;
    font-family: 'Montserrat';
  }
  h4 {
    font-family: 'Inknut Antiqua', serif;
  }
}

.footer-right {
  display: flex;
  align-items: flex-end;
}



@media only screen and (max-width: $phone) {
.footer-container {
  // width: 100%;
  height: 300px;


}
}
